<!DOCTYPE html>
<html>
    <body>
        <h2> Hello {{ student }}, </h2>
        <p>Welcome to SBCCL {{ school_start }}-{{school_end}} ! </p>
\
        <p>Below is your course registration details: </p>
        <ul>
            <li><strong>Name</strong>: {{student}} </li>
            <li><strong>Class</strong>:	{{class_name}} </li>
            <li><strong>Registration Date</strong>:  {{ registration.registration_date }} </li>
            <li><strong>Registration Code</strong>: {{ registration.registration_code }}</li>
            <li><strong>Status</strong>: {{status}}</li>
        </ul>
        
        <p>You should be able to see the registration state in your <a href="{{ account_url }}">account</a>.</p>
        <p>If your registration status is <strong>On Waiting List</strong>, it means you are not officially enrolled yet. Once there is a spot available for you, you will be automatically enrolled!</p>
        <p>If you have further questions, please contact ccl_board@sbcclny.com.</p>
        
        <p>Thank you!</p>
        <p><a href="https://www.sbcclny.com."> Center of Chinese Learning at Stony Brook </a></p>

    </body>
</html>