<!DOCTYPE html>
<html>
    <body>
        <h2> Hello {{ student }}, </h2>
        <p>This email confirms that you <strong>withdraw</strong> from {{class_name}} for school year {{school_start}}-{{school_end}} !</p>

        <p>You should be able to see the dropout details and account balance in your <a href="{{ account_url }}">account</a>.</p>

        <p>If you've already made payment to the registration or any further questions, please contact ccl_board@sbcclny.com for refund.</p>
                
        <p>Thank you!</p>
        <p><a href="https://www.sbcclny.com"> Center of Chinese Learning at Stony Brook </a></p>

    </body>
</html>