<!-- Shows the detail information about a student. -->

<!DOCTYPE html>
<html>
<head>
    <style>
        .sidebar {
            width: 25%;
            margin-right: 8px;
            background-color: lightsteelblue;
            float: left;
            clear: left;
            height: 100vh;
        }
        .banner {
            float: top;
            width: 100%;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<div class="banner">

</div>
<div class="'sidebar">

</div>

<div class="content">
<h1>{{ student.firstname }} {{ student.lastname }}</h1>

<p>Student ID : {{ student.id }}</p>
<p>Gender : {{ student.gender }}</p>
<p>Chinese name : {{ student.chinese_name }}</p>
<p>Phone: {{ student.phone }}</p>

<p>Registration date: {{ student.registration_date }}</p>

<p>Back to <a href=<p>Member since: {{ student.registration_date }}</p>
"/students/">students</a></p>
</div>

</body>
</html>