container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations && python3 manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_admin"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python imanage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sbccl_webapp.wsgi:application

