container_commands:
  01_migrate:
    command: "python3 manage.py makemigrations && python3 manage.py migrate"
    leader_only: true
  02_createsu:
    command: "python3 manage.py create_admin --noinput"
    leader_only: true
  03_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sbccl_webapp.wsgi:application

